<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jdbc.cursoe_test.mapper.UserMapper">
    <select id="findByUsername" resultType="User">
        SELECT * FROM users WHERE username = #{username}
    </select>
    
    <select id="findByEmail" resultType="User">
        SELECT * FROM users WHERE email = #{email}
    </select>
    
    <select id="findById" resultType="User">
        SELECT * FROM users WHERE id = #{id}
    </select>
    
    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, password, email, role, real_name, avatar)
        VALUES (#{username}, #{password}, #{email}, #{role}, #{realName}, #{avatar})
    </insert>
    
    <update id="update" parameterType="User">
        UPDATE users
        SET username = #{username},
            email = #{email},
            real_name = #{realName},
            avatar = #{avatar},
            status = #{status}
        WHERE id = #{id}
    </update>
    
    <update id="updatePassword">
        UPDATE users SET password = #{newPassword} WHERE id = #{id}
    </update>
</mapper> 